body {
  margin: 0;
   overflow: hidden;
}

canvas {
  display: block;
  /* prevents scrollbar */
  width: 100vw;
  height: 100vh;
}

#uiContainer {
  position: absolute;
  top: 0;
  left: 85rem;
}

#fpscontainer {
  position: absolute;
  top: 14px;
  left: 14px;
  color: black;
}

#a {
  background-image: url('res/keef.jpg');
}
